@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body,
html {
    background-color: white;
    margin: 0;
    overflow: hidden;
    
}

img {
    width: 10%;
    transform: rotate(0deg);
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

#pic {
    margin: 5px;
}

.espace {
    width: 2.5%;
    display: inline-block;
}

.enter {
    width: 100%;
}

.instructions {
    position: absolute;
    bottom: 2%;
    left: 2%;
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    width: 100%;

}

input,
select {
    width: 20%;
    margin: 0px 20px 10px 15px;
    padding: 8px 8px;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

label {
    mix-blend-mode: difference;
    filter: invert(1);
}

.disparait {
    display: normal;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
}

.background img {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;

}

#rectangle-credits {
    position: absolute;
    right: -28%;
    bottom: 10px;
    width: 425px;

    border-right: none;
    background-color: #aaff01;

    z-index: 10000;
    padding: 0px 32px;

    transition: left .5s ease-in-out;
}

#rectangle-credits p {
    font-family: Poppins;
    color: black;
    pointer-events: none;
}



/* PRINT */

@media print {

    .hidden-print {
        display: none;
    }

    @page {
        margin: -5mm 0mm 0mm 0mm;

    }

    /* NE FONCTIONNE PAS */
    @page :nth(2) {
        display: none;

    }



    #pic {
        margin: 5mm 5mm;
    }



/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {}